<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product_detail</title>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
  </head>
  <body>
    <detail>
      <div class="shadow-line"></div>
      <img alt="jjolmyeno" src="../images/jjolmyeno1.png" />
      <div class="order">
        <p>샛별배송</p>
        <h2>[풀무원] 탱탱쫄면 (4개입)</h2>
        <p>튀기지 않아 부담 없는 매콤함</p>
        <p>4,890<span>원</span></p>
        <p>로그인 후, 적립 혜택이 제공됩니다.</p>
        <div>
          <span>배송</span>
          <span>샛별배송</span><br />
          <span>23시 전 주문 시 내일 아침 7시 전 도착</span><br />
          <span>(대구 부산 울산 샛별배송 운영시간 별도 확인)</span>
        </div>
        <div>
          <span>판매자</span>
          <span>칼리</span>
        </div>
        <div>
          <span>포장타입</span>
          <span>포장 (종이포장)</span><br />
          <span>택배배송은 에코 포장이 스티로품으로 대체됩니다.</span>
        </div>
        <div>
          <span>판매단위</span>
          <span>1봉/span>
        </div>
        <div>
          <span>중량/용량</span><br />
          <span>123g<sup>*</sup>4봉</span>
        </div>
        <div>
          <span>원산지</span><br />
          <span>상세페이지 별도표기</span><br />
        </div>
        <div>
          <span>알레르기정보</span><br />
          <span>-대두, 밀, 쇠고기 함유</span><br />
          <span>-계란, 우유, 메밀, 땅콩, 코등어, 개, 돼지고기, 새우, 복숭아, 토마토, 아황산류, 호두, 잣, 닭고기, 오징어, 조개류(굴, 전복, 홍합 포함)을 사용한 제품과 같은 제조시설에 제조</span>
        </div>
        <div>
          <span>상품선택</span>
          <div>
            <p>[풀무원] 탱탱쫄면 (4개입)</p>
            <div>
              <span>- 1 +</span>
              <span>4,800원</span>
            </div>
            <div>
              <span>총 상품금액:</span> <span>4,980<span>원</span></span>
              <p><span>적립</span>로그인 후, 적립 혜택 제공</p>
            </div>
            <div>
              <button><i class="fa-regular fa-heart"></i></button>
              <button><i class="fa-regular fa-bell"></i></button>
              <button>장바구니 담기</button>
            </div>
          </div>
        </div>
      </div>
      <ul>
        <li>상품설명</li>
        <li>상세정보</li>
        <li>후기 (1,000)</li>
        <li>문의</li>
      </ul>
      <img alt="jjolmyeno" src="../images/jjolmyeno2.png" />
      <p>튀기지 않아 부담 없는 매콤함</p>
      <p>[풀무원] 탱탱쫄면</p>
      <p>풀무원 진가는 매콤새콤한 양념과 탱탱한 면발에서 찾을 수 있지요. 풀우원은 이 맛을 더 부담 없이 즐길 수 있도록 튀기지 않고 만든 탱탱쫄면을 선보입니다. 밀가루와 감자 전분을 적절히 배합해 탐력이 좋고, 입에 넣었을 때는 찰지게 씹히죠. 고추장을 넣어 속성한 비빔장은 자연스럽고 깊은 맛을 냅니다. 간단하게 조리해 마지막 한 가닥까지 탱탱한 식감을 즐겨보세요. 취향에 따라 다양한 고명을 올려 드셔도 좋아요.</p>
      <div>
        <div class="line"></div><span>Karly's Check Point</span><div class="line"></div>
      </div>
      <img alt="checkPoint" src="../images/check-point.png" />
      <img alt="jjolmyenoExplanation" src="../images/jjolmyeno3.png" />
      <div class="line"></div>
      <div>
        <p>WHY KARLY</p>
        <div>
          <div>
        <img alt="Committee" src="../images/list.png" />
        <p>깐깐한 상품위원회</p>
        <p>나와 내 가족이 먹고 쓸 상품을 고르는 마음으로 매주 상품을 직접 먹어보고, 경험해보고 성분, 맛 안정성 등 다각도의 기준을 통과한 상품만을 판매합니다.</p>
      </div>
      <div>
        <img alt="Differentiation" src="../images/box.png" />
        <p>차별화된 Karly Only 상품</p>
        <p>전국 각지와 해외의 훌륭한 생산자가 믿고 선택하는 파트너, 마켓칼리, 3천여 개가 넘는 칼리 단독 브랜드, 스펙의 Karly Only 상품을 믿고 만나보세요.</p>
      </div>
      <div>
        <img alt="delivery" src="../images/truck.png" />
        <p>신선한 풀콜드체인 배송</p>
        <p>온라인 업계 최초로 산지에서 문 앞까지 상온, 냉장, 냉동 상품을 분리 포장 후 최저의 온도를 유지하는 냉장 배송 시스템, 풀콜드체인으로 상품을 신선하게 전해드립니다.</p>
      </div>
      <div>
        <img alt="price" src="../images/glasses.png" />
        <p>고객, 생상자를 위한 최선의 가격</p>
        <p>매주 대형 마트와 주요 온라인 마트의 가격 변동 상황을 확인해 신선식품은 품질을 타협하지 않는 선에서 최선의 가격으로, 가공식품은 언제나 합리적인 가격으로 정기 조정합니다.</p>
      </div>
      <div>
        <p>환경을 생각하는 지속 가능한 유통</p>
        <p>친환경 포장재부터 생산자가 상품에만 집중할 수 있는 직매업 유통구조까지, 지속 가능한 유통을 고민하며 컬리를 있게 하는 모든 환경(생산자,커뮤니티,직원)이 더 나아질 수 있도록 노력합니다.
        </p>
      </div>
      <div>
        <h2>상품후기</h2> <button>후기 작성하기</button>
        <p>글후기 50원 적립금 혜택이 있어요.</p>
        <p>- 퍼플, 더퍼플은 2개 적립(100원) / 주간 베스트 후기로 선정 시 5,000원 추가 적립</p>
        <p>- 후기 작성은 배송완료일부터 30일 이내 가능합니다.</p>
        <p>- 작성하신 후기는 확인 후 적립금이 지급합니다. (영업일 기준 평균 1~2일 소요)</p>
      </div>
    </div>
      </div>
      <div>
        <span>총 2개</span>
        <span>추천순 <span>| 최근 등록순</span></span>
        <p><span>공지</span><span>금주의 베스트 후기 안내</span></p>
        <p><span>공지</span><span>상품 후기 적립금 정책 안내</span></p>
        <div>
        <span><span>베스트</span><span>퍼플</span>김*진</span>
        <div>
        <span>[풀무원] 탱탱쫄면(4개입)</span>
        <p>너무 맛있어여~</p>
        <p>면이 쫄깃하고 양념도 짱맛나요!!</p>
        <p>2022.11.10</p>
      </div>
      </div>
      <div>
        <span><span>베스트</span><span>퍼플</span>김*식</span>
        <div>
          <p>[풀무원] 탱탱쫄면 (4개입)</p>
          <p>또 주문할것 같습니다.</p>
          <p>너무 맛있어요 내스타일이야~!</p>
          <p>2022.11.10</p>
        </div>
        </div>
      <div>
        <span><span>베스트</span><span>퍼플</span>김*범</span>
        <div>
          <p>[풀무원] 탱탱쫄면 (4개입)</p>
          <p>너무 맛있어여~</p>
          <p>면이 쫄깃하고 양념도 짱맛나요!!</p>
          <p>2022.11.10</p>
        </div>
      </div>
      <div>
        <button><i class="fa-solid fa-chevron-left"></i></button>
        <button><i class="fa-solid fa-chevron-right"></i></button>
      </div>
      </div>
      <div>
        <div><span>상품문의</span><button>문의하기</button></div>
        <p>• 상품에 대한 문의를 남기는 공간입니다. 해당 게시판의 성격과 다른 글은 사진동의 없이 담당 게시판으로 이동될 수 있습니다.</p>
        <p>• 배송관련, 주문(취소/교환/환불)관련 문의 및 요청사항은 마이컬리 내 1:1 문의에 남겨주세요.</p>
      </div>
    <table>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
      <th>답변상태</th>
      <tr>
        <td><span>공지</span>판매(일시)중단 제품 안내 (22.11.10 업데이트)</td>
        <td>칼리</td>
        <td>2017.02.01</td>
        <td>-</td>
      </tr>
      <tr>
        <td>팩이 터져서 왔어요</td>
        <td>김*식</td>
        <td>2022.11.11</td>
        <td>답변대기</td>
      </tr>
      <div>
        <img alt="Q" src="../images/q.png" />
        <span>스티로품 박스도 손상되어 있어 포장이 터져 엉망이네요 환불 요청합니다</span>
        <img alt="A" src="../images/a.png" />
        <span>안녕하세요. 칼리입니다.<br />
        믿고 찾아주신 상품에 불편을 드려 정말 죄송합니다.<br />
        <br />
      더불어, 해당 게시판은 실시간으로 상담이 어려워 순차적으로 답변드리고 있는 광계로 신속하게 답변드리지 못하여 대단히 죄송합니다.<br /><br />
    다행히도 고객님의 불편하셨던 사항은 고객행복센터를 통해 안내 받으신 점 확인하였습니다. <br /> <br />
  불편을 드려 정말 죄송할 따름이며, 고객님께 늘 신선하고 최상의 상품을 불편 없이 전달드리기 위해 최선을 다하는 칼리가 되겠습니다. <br /><br />
칼리 드림.<br /><br />
<span>2022.11.11</span></span>
      </div>
      <tr>
        <td>비밀글입니다.<img alt="lock" src="../images/lock.png" /></td>
        <td>김*범</td>
        <td>2022.09.13</td>
        <td>답변완료</td>
      </tr>
      <tr>
        <td>비밀글입니다.<img alt="lock" src="../images/lock.png" /></td>
        <td>심*범</td>
        <td>2022.08.30</td>
        <td>답변완료</td>
      </tr>
      <tr>
        <td>비밀글입니다.<img alt="lock" src="../images/lock.png" /></td>
        <td>야*</td>
        <td>2022.08.30</td>
        <td>답변완료</td>
      </tr>
      <tr>
        <td>비밀글입니다.<img alt="lock" src="../images/lock.png" /></td>
        <td>김**사</td>
        <td>2022.07.23</td>
        <td>답변완료</td>
      </tr>
    </table>
    <div>
      <button><i class="fa-solid fa-chevron-left"></i></button>
      <button><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    </detail>
  </body>
</html>
