<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>footer</title>
  <link rel="stylesheet" href="../css/footer.css" />
</head>

<body>

  <footer class="footer">
    <h1 class="a11yHidden">footer & info & client</h1>
    <div class="top_container">
      <section class="inner_footer">
        <div class="cc_footer">
          <h2 class="cc_tit">고객행복센터</h2>
          <div class="cc_view cc_call">
            <h3>
              <strong class="tit">1644-1107</strong>
              <span class="hours">
                월~토요일
                오전 7시 - 오후 7시
              </span>
            </h3>
            <!-- <dl class="list">

          </dl> -->
          </div>
          <div class="cc_view cc_kakao">
            <h3>
              <a href="/" class="tit">카카오톡 문의</a>
            </h3>
            <dl class="list">
              <dt>월 ~ 토요일 <span aria-label="hidden">|</span> 오전 7시 ~ 오후 6시</dt>
              <dd>일/공휴일 <span aria-label="hidden">|</span> 오전 7시 ~ 오후 1시</dd>
            </dl>
          </div>
          <div class="cc_view cc_qna">
            <h3>
              <a href="/" class="tit">1:1 문의</a>
            </h3>
            <dl class="list">
              <dt>365일</dt>
              <dd>고객센터 운영시간에 순차적으로 답변해드리겠습니다.</dd>
            </dl>
          </div>
          <div class="cc_view cc_or">
            <h3>
              <a href="/" class="tit">대량 주문 문의</a>
            </h3>
            <dl class="list">
              <dt>월 ~ 금요일 <span aria-label="hidden">|</span> 오전9시 - 오후6시</dt>
              <dd>점심시간 <span aria-label="hidden">|</span> 낮 12시 - 오후 1시</dd>
            </dl>
          </div>
          <div class="order">
            <dl>
              <dt>
                비회원 문의 :<a class="accent" href="mailto:help@karlycorp.com"> help@karlycorp.com</a>
              </dt>
              <dd>
                비회원 대량주문 문의 :<a class="accent" href="help@karlycorp.com"> help@karlycorp.com</a>
              </dd>
            </dl>
          </div>
        </div>

        <div class="footer__info">
          <ul class="info_container">
            <!-- ul li 추가 -->
            <li class="kkk"><a href="/">칼리소개</a></li>
            <li><a href="/">칼리소개영상</a></li>
            <li><a href="/">인재채용</a></li>
            <li><a href="/">이용약관</a></li>
            <li><a href="/">개인정보처리방침</a></li>
            <li><a href="/">이용안내</a></li>
          </ul>
          <address>
            <span>법인명 (상호) : 주식회사 컬리 <span class="line" aria-label="hidden">|</span>
              사업자등록번호 : 261-81-23567 <span class="line" aria-label="hidden">|</span>
              사업자정보 확인</span>
            <span>통신판매업 : 제 2018-서울강남-01646 호 <span class="line" aria-label="hidden">|</span>
              개인정보보호책임자 : 이원준</span>
            <span>주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동) <span class="line" aria-label="hidden">|</span>
              대표이사 : 김슬아</span>
            <span>입점문의 : 입정문의하기 <span class="line" aria-label="hidden">|</span>
              제휴문의 : <a class="accent" href="mailto:business@karlycorp.com">business@karlycorp.com</a></span>
            <span>채용문의 : <a class="accent" href="mailto:recruit@karlycorp.com">recruit@karlycorp.com</a></span>
            <br />
            <span><a href="/">팩스 : 070 - 7500 - 6098</a></span>
          </address>
          <ul class="sns">
            <!-- ul li 추가 -->
            <li>
              <a href="/">
                <img src="/src/images/icon/Blog.svg" alt="Blog" />
              </a>
            </li>
            <li>
              <a href="/">
                <img src="/src/images/icon/FaceBook.svg" alt="FaceBook" />
              </a>
            </li>
            <li>
              <a href="/">
                <img src="/src/images/icon/Instagram.svg" alt="Instagram" />
              </a>
            </li>
            <li>
              <a href="/">
                <img src="/src/images/icon/NaverPost.svg" alt="NaverPost" />
              </a>
            </li>
            <li>
              <a href="/">
                <img src="/src/images/icon/Youtube.svg" alt="Youtube" />
              </a>
            </li>
          </ul>
        </div>

      </section>
    </div>
    <div class="footer__client">
      <div>
        <img src="/src/images/logo_isms.svg" alt="logo_isms" />
        <span>
          [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영<br />(심사받지 않은 물리적 인프라 제외)<br />[유효기간] 2022.01.19 ~ 2025.01.18
        </span>
      </div>
      <div>
        <img src="/src/images/logo_privacy.svg" alt="logo_privacy" />
        <span>
          개인정보보호 우수 웹사이트<br />개인정보처리시스템 인증 (ePRIVACY PLUS)
        </span>
      </div>
      <div>
        <img src="/src/images/logo_tosspayments.svg" alt="logo_tosspayments" />
        <span>
          토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수 있습니다.
        </span>
      </div>
      <div>
        <img src="/src/images/logo_wooriBank.svg" alt="logo_wooriBank" />
        <span>
          고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.
        </span>
      </div>
    </div>
  </footer>
  <section class="footer__bottom">
    <small>마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다. <br />
      마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
    </small>
    <small> &copy; KURLY CORP. ALL RIGHTS RESERVED </small>
  </section>

</body>

</html>