<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/start.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Start</title>


</head>

<body>
  <main>
    <h1 class="sr-only">마켓컬리의 메인 페이지 입니다</h1>

    <!-- main__banner -->
    <div class="main__banner">

      <figure class="banner__img">
        <img src="../images/banner-05.png" alt="banner image" />
      </figure>

      <!-- main__banner buttons -->
      <button class="banner__btn left">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="banner__btn right">
        <i class="fa-solid fa-chevron-right"></i>
      </button>

    </div>

    <!-- main__nav -->
    <nav class="main__nav">
      <ul class="nav__container">

        <li>
          <button class="nav__btn">
            <i class="fa-solid fa-chevron-up"></i>
          </button>
        </li>

        <li class="nav__title">최근 본 상품</li>

        <li>
          <a href="#">
            <img src="../images/visual-sm.png" alt="recent visual image" />
          </a>
        </li>

        <li>
          <a href="#">
            <img src="../images/visual2-sm.png" alt="recent visual2 image" />
          </a>
        </li>

        <li>
          <a href="#">
            <img src="../images/visual3-sm.png" alt="recent visual3 image" />
          </a>
        </li>

        <li>
          <button class="nav__btn">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </li>

      </ul>
    </nav>

    <!-- main__wrapper -->
    <div class="main__wrapper">
      <h2 class="wrapper__title">이 상품 어때요?</h2>

      <!-- warpper__container -->
      <div class="warpper__container">

        <button class="wrapper__btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>

        <!-- container__product -->
        <ul class="container__product">

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual.png" alt="product visual" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost">24,000원</div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual2.png" alt="product visual2" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost">24,000원</div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual3.png" alt="product visual3" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost"></div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual4.png" alt="product visual4" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost"></div>
                </figcaption>
              </figure>
            </a>
          </li>

        </ul>

      </div>

      <figure class="wrapper__banner">
        <img src="../images/line-banner-1.png" alt="wrapper banner image" />
      </figure>

      <!-- warpper__container 2 -->
      <h2 class="wrapper__title">놓치면 후회할 가격</h2>

      <div class="warpper__container">

        <button class="wrapper__btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>

        <!-- container__product -->
        <ul class="container__product">
          
          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual.png" alt="product visual" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost">24,000원</div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual2.png" alt="product visual2" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost">24,000원</div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual3.png" alt="product visual3" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost"></div>
                </figcaption>
              </figure>
            </a>
          </li>

          <li class="product__list">
            <a href="#">
              <figure>
                <img src="../images/visual4.png" alt="product visual4" />
                <figcaption>
                  <div class="productTitle">[풀무원]탱탱쫄면(4개입)</div>
                  <span class="discount">24%</span>
                  <span class="totalCost">18,900원</span>
                  <div class="originalCost"></div>
                </figcaption>
              </figure>
            </a>
          </li>

        </ul>

      </div>


    </div>
  </main>
</body>

</html>