@import url("../css/common.css");

.introduction__div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shadow-line {
  width: 100%;
  height: 30px;
  border-top: 1px solid var(--grey);
  background: linear-gradient(var(--grey), white);
  margin-bottom: 25px;
}

.jjolmyeno1 {
  width: 400;
  height: 514px;
  margin-right: 100px;
}

.order {
  width: 580px;
}

.moring-delivery {
  font-size: 19px;
  color: var(--dark-grey);
  font-weight: 500;
  margin-bottom: 30px;
}

.order p:nth-child(4) {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.order p:nth-child(4) span {
  font-size: 13px;
}

.order p:nth-child(5) {
  color: var(--purple);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.order h2 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 15px;
}

.spicy {
  font-weight: 200;
  color: var(--dark-grey);
  margin-bottom: 30px;
}

.order div:nth-child(1),
.morning-star,
.order div:nth-child(3),
.sale,
.order div:nth-child(6),
.order div:nth-child(7),
.order div:nth-child(8),
.order div:nth-child(9) p {
  color: var(--dark-grey);
}

.sale,
.weight,
.origin,
.allergy,
.count {
  color: var(--dark-grey);
}

.shipping,
.seller,
.packaging,
.sale,
.weight,
.origin,
.allergy,
.count {
  width: 100%;
  font-size: 13px;
  border-top: 1px solid var(--grey);
  padding: 28px 0px 28px 0px;
}

.shipping span:nth-child(1) {
  padding-right: 90px;
}

.morning-star {
  line-height: 25px;
  margin: 8px 0px 0px 115px;
}

.seller span:nth-child(1) {
  padding-right: 76px;
}

.packaging span:nth-child(1) {
  padding-right: 65px;
}

.packaging span:nth-child(2) {
  padding-bottom: 8px;
}

.packaging-guide {
  padding: 0px 0px 0px 113px;
}

.sale span:nth-child(1) {
  padding-right: 65px;
}

.weight span:nth-child(1) {
  padding-right: 60px;
}

.origin span:nth-child(1) {
  padding-right: 76px;
}

.allergy span:nth-child(1) {
  padding-right: 42px;
}

.allergy-guide {
  padding-left: 113px;
}

.count {
  display: flex;
  border-bottom: 1px solid var(--grey);
}

.count-text {
  width: 120px;
  padding-right: 66px;
}

.count-box {
  width: 500px;
  padding: 15px;
  border: 1px solid var(--gray);
}

.count-box div:nth-child(1) {
  width: 60px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  border: 1px solid var(--gray);
}

.count-box div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
}

.count-one {
  font-weight: 800;
}

.all-price {
  padding: 45px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all-price span:nth-child(1) {
  text-align: end;
  margin-bottom: 20px;
}

.all-price span:nth-child(1) span:nth-child(1) {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
}

.all-price p span:nth-child(1) {
  padding: 6px 9px 6px 9px;
  border-radius: 20px;
  color: white;
  background-color: var(--orange);
  margin-right: 5px;
  font-size: 10px;
}

.basket button:nth-child(1),
.basket button:nth-child(2) {
  padding: 15px;
  border-radius: 3px;
  border: 1px solid var(--gray);
  background-color: white;
  margin-right: 5px;
}

.basket button:nth-child(1) {
  color: var(--purple);
}

.basket button:nth-child(2) {
  color: var(--gray);
}

#basket-btn {
  display: none;
}

#basket-btn:checked ~ .balloon {
  display: block;
}

.basket-btn {
  padding: 20px 185px 20px 186px;
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 3px;
}

.balloon {
  position: absolute;
  top:110px;
  right: 180px;
  display: none;
  margin: 50px;
  width:254px;
  height:100px;
  background: var(--gray);
  border-radius: 10px;
 }

 .balloon:after {
  border-top:0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--gray);
  content:"";
  position:absolute;
  top:-10px;
  left:200px;
 }

 .balloon img {
  float: left;
  width: 52px;
  height: 70px;
  margin: 15px 30px 0px 30px;
 }

 .balloon div {
  line-height: 30px;
  padding: 18px 0px 0px 0px;
 }

 .balloon span {
  font-size: 10px;
 }

.board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.board-menu {
  display: flex;
  margin-bottom: 40px;
}

.board-menu li:nth-child(1),
.board-menu li:nth-child(2),
.board-menu li:nth-child(3),
.board-menu li:nth-child(4) {
  width: 263px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-menu li:nth-child(1) {
  color: var(--purple);
  border: 1px solid var(--gray);
  border-bottom: none;
  border-right: none;
}

.board-menu li:nth-child(2),
.board-menu li:nth-child(3) {
  border: 1px solid var(--gray-300);
  background-color: var(--gray);
}

.board-menu li:nth-child(4) {
  border: 1px solid var(--gray-300);
  background-color: var(--gray);
  border-left: none;
}

.board img:nth-child(1) {
  width: 1050px;
  height: 670px;
}

.board-phrases {
  margin-top: 50px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.board-pulmuone {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.board-introduction {
  width: 1050px;
  border-top: 1px solid var(--gray);
  margin-bottom: 130px;
}

.board-introduction__p {
  margin-top: 30px;
  line-height: 25px;
}

.point-line {
  width: 365px;
  display: inline-block;
  padding: 6px 0px 6px 0px;
  border-top: 1px solid var(--gray);
}

.point-text {
  font-size: 35px;
  font-weight: 800;
}

.board-point__img {
  margin: 80px 0px 100px 0px;
}

.long-line {
  width: 1050px;
  border: 1px solid var(--gray);
  margin-bottom: 70px;
}

.why-karly  {
  display: flex;
  justify-content: center;
}

.why-text {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 100px;
}

.why-firstline {
  display: flex;
}

.why-firstline div:nth-child(1) {
  width: 250px;
  height: 272px;
  text-align: center;
  margin-right: 70px;
}

.why-firstline div:nth-child(1) img {
  margin-bottom: 20px;
}

.why-firstline div:nth-child(1) p:nth-child(1) {
  color: var(--purple);
}

.why-firstline div:nth-child(2) {
  width: 250px;
  height: 272px;
  text-align: center;
  margin-right: 70px;
}

.why-firstline div:nth-child(2) img {
  margin-bottom: 20px;
}

.why-firstline div:nth-child(3) {
  width: 250px;
  height: 272px;
  text-align: center;
}

.why-firstline div:nth-child(3) img {
  margin-bottom: 20px;
}

.why-firstline__subheading {
  color: var(--purple);
  margin-bottom: 30px;
}

.why-introduction {
  display: flex;
  justify-content: center;
}

.why-secondline {
  display: flex;
  margin-bottom: 30px;
}

.why-secondline div:nth-child(1) {
  width: 256px;
  height: 272px;
  text-align: center;
  margin-right: 70px;
}

.why-secondline div:nth-child(1) img {
  margin-bottom: 20px;
}

.why-secondline div:nth-child(2) {
  padding-top: 63px;
  width: 250px;
  height: 272px;
  text-align: center;
}

.review {
  margin-bottom: 50px;
}

.review-write {
  margin-bottom: 40px;
}

.review-write-text {
  font-size: 25px;
  font-weight: 600;
  margin-right: 845px;
}

#review-btn {
  display: none;
}

#review-btn:checked ~ .popup-form {
  display: block;
}

.review-btn {
  width: 130px;
  height: 34px;
  padding: 10px 25px 10px 25px;
  color: white;
  background-color: var(--purple);
  border: none;
  border-radius: 5px;
}

.popup-form {
  display: none;
  width: 100%;
  height: auto;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
}

.popup-form h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.popup-form-information {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.popup-form-information img {
  width: 72px;
  height: 90px;
  margin-right: 20px;
}

.popup-form-information span {
  font-weight: 600;
}

.popup-form-input {
  padding: 10px 0px 50px 0px;
  border-bottom: 1px solid var(--gray);
}

.popup-form-input label {
  margin-right: 35px;
}

.popup-title-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.popup-title-box label {
  font-weight: 600;
}

.popup-title-box__input {
  width: 900px;
  height: 40px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 15px 0px 0px 20px;
}

.popup-detail-box {
  display: flex;
  align-items: center;
}

.popup-detail-box label {
  font-weight: 600;
}

.popup-detail-box__input {
  width: 900px;
  height: 220px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 15px 0px 0px 20px;
}

.popup-detail-box__input::placeholder {
  width: 755px;
  line-height: 20px;
}

.form-btn__div {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
}

.form-btn-cancellation,
.form-btn-registration {
  width: 186px;
  height: 54px;
  color: black;
  border: 1px solid var(--gray);
  border-radius: 5px;
}

.form-btn-cancellation {
  background-color: white;
  margin-right: 10px;
}

.form-btn-registration {
  background-color: var(--gray-300);
}

.accumulate h3 {
  font-weight: 500;
  margin-bottom: 5px;
}

.accumulate__p p:nth-child(1),
.accumulate__p p:nth-child(2),
.accumulate__p p:nth-child(3) {
  font-size: 13px;
}

.accumulate__p {
  color: var(--gray-500);
  margin-left: 10px;
}

.suggestion-quantity {
  width: 1050px;
  padding: 0px 0px 25px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}

.suggestion-quantity span:nth-child(1) {
  font-size: 13px;
}

.suggestion-quantity span:nth-child(2) span {
  color: var(--gray-500);
}

.review-box {
  width: 1050px;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid var(--gray);
}

.review-board {
  font-size: 13px;
}

.notification-box {
  width: 1050px;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid var(--gray);
}

#notification-btn {
  display: none;
}

#notification-btn:checked ~ .emphasis-best {
  display: block;
}
 
.emphasis-best {
  display: none;
  list-style: none;
  padding: 15px 0px 15px 15px;
  line-height: 25px;
}
.emphasis {
  font-weight: 600;
}

.notification {
  padding: 5px;
  background-color: var(--gray);
  margin-right: 25px;
  border-radius: 2px;
}

.review-best {
  padding: 3px 8px 2px 8px;
  color: white;
  background-color: var(--violet);
  border-radius: 2px;
  margin-right: 10px;
}

.review-purple {
  padding: 2px 10px 2px 10px;
  color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 2px;
  margin-right: 10px;
}

.review-name {
  font-weight: 600;
  margin-right: 80px;
}

.review-four {
  color: var(--gray-300);
  margin-bottom: 20px;
}

.review-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-text p:nth-child(3) {
  margin-bottom: 20px;
}

.review-date {
  color: var(--gray-300);
}

.review-move {
  display: flex;
  justify-content: center;
  margin: 15px 0px 80px 0px;
}

.review-move button:nth-child(1),
.review-move button:nth-child(2) {
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  border: 1px solid var(--gray);
  background-color: white;
  margin-right: 15px;
}

.review-move button:nth-child(1) {
  color: var(--gray);
}

.inquiry__div {
  background-color: var(--gray);
}

.inquiry-table th,
.inquiry-tr {
  background-color: white;
}

.inquiry-notification-box {
  margin: 0px 0px 0px 18px;
}

.inquiry-pack-box {
  margin: 0px 0px 0px 18px;
}

.inquiry-secret-box {
  margin: 0px 0px 0px 18px;
}

.inquiry-text {
  font-size: 25px;
  font-weight: 600;
  margin-right: 845px;
}

#inquiry-btn {
  display: none;
}

#inquiry-btn:checked ~ .inquiry-popup-form {
  display: block;
}

.inquiry-popup-form {
  display: none;
  width: 100%;
  height: auto;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
}

.inquiry-popup-form h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

.inquiry-btn {
  color: white;
  padding: 8px 35px;
  background-color: var(--purple);
  border: none;
  border-radius: 2px;
}

.inquiry__p {
  font-size: 13px;
  color: var(--gray-500);
  margin: 20px 0px 40px 10px;
}

.inquiry-grey {
  color: var(--gray-300);
}

.inquiry-purple {
  color: var(--purple);
}

.inquiry-table {
  width: 1050px;
  border-top: 2px solid var(--black);
}

.inquiry-table th {
  line-height: 3rem;
  border-bottom: 1px solid var(--black);
}

.inquiry-tr {
  line-height: 3rem;
  border-bottom: 2px solid var(--gray);
}

.answer-qa {
 padding: 20px 0px 20px 20px; 
}

.answer__img {
  width: 24px;
  height: 24px;
  margin: 0px 10px 0px 0px;
}

.q-box {
  padding: 10px 20px 10px 0px;
  display: flex;
}

.answer-question-box {
  width: 380px;
  display: flex;
}

.answer-question {
  line-height: 1.5rem;
}

.answer-greeting-box {
  display: flex;
}

.answer-greeting {
  line-height: 1.5rem;
}

.answer-sorry-box {
  width: 430px;
  display: flex;
}
.answer-sorry {
  line-height: 1.5rem;
}

.answer-matters-box {
  display: flex;
}

.answer-inconvenience-box {
  width: 650px;
  display: flex;
}

.answer-inconvenience {
  line-height: 1.5rem;
}

.answr-span {
  display: flex;
  align-items: center;
}

.inquiry-move {
  display: flex;
  justify-content: center;
  margin: 15px 0px 0px 0px;
}

.inquiry-move button {
  padding: 15px 20px 15px 20px;
  border-radius: 3px;
  border: 1px solid var(--gray);
  background-color: white;
  margin: 0px 0px 30px 5px;
}


.inquiry-move button:nth-child(1) {
  color: var(--gray);
  margin-right: 15px;
}
