@import url(./a11y.css);
@import url(./reset.css);
@import url(./sr-only.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

:root{
  --color-primary: #5F0080;
  --gray-400: #898989;
}
*{
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.accent{
  color : var(--color-primary);
}
a{
  text-decoration: none;
  color: inherit;
}

header{
  width: 65.625rem;
  margin: auto;
}
.header-guide{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}
.header-guide span{
  border-right: 1px solid var(--gray-400);
  padding-right: 1rem;
}
.service-btn{
  border: none;
  background: transparent;
}
.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}
/* 위 첨자 */
sup{
  vertical-align: super;
  font-size: small;
  color: orangered;
}
.logoSwitch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: bold;
  color: var(--gray-400);
}
.header-icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}
img{
  object-fit: contain;
}


.header-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
/* dropdown */
.dropdown{
  border: none;
  background: transparent;
}
.dropdown-content{
  padding: 0.5rem;
  width: 247px;
  height: auto;
  border-radius: 5px;
  background: white;
  /* --isActive */
  display: none;
  position: absolute;
  border: 1px solid gray;
}
.dropdown-content li a{
  line-height: 1.5;
}
.dropdownContainer:hover .dropdown-content{
  display: block;
}

.menu__content{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
  height: 100%;
}
/* search input */
#search{
  width: 400px;
  height: 60px;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}
.search-form__input{

  border: 1px solid var(--color-primary);
}
.search-form__formInput{
  position: relative;
}
.search-form__button{
  position: absolute;
  right: 12px;
  top: calc(50% - 16px);
  border: none;
  background: transparent;
  font-size: 24px;
}

.delivery{
  padding: 4px 8px;
  border-radius: 50px;
  border: 1px solid var(--color-primary);
  background: transparent;
}