@import url("./reset.css");
@import url("./a11y.css");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

header {
  padding: 20px 0px;
}

.header-guide {
  width: 700px;
  display: flex;
  justify-content: flex-end;
}

.header-guide li {
  margin-right: 10px;
}

.line {
  width: 2px;
  background-color: #ececec;
  margin-right: 10px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
}