@import url("../css/reset.css");
@import url("../css/sr-only.css");
@import url("../css/theme.css");

@import url(a11y.css);
/* @import url(reset.css); */
@import url(sr-only.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration-line: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: auto;
}

.accent {
  color: purple;
}

.bar {
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: purple;
  padding: 10px;
  margin-bottom: 10px;
}

.line {
  font-size: 10px;
  display: inline;
  color: var(--grey);
}
.header-guide {
  display: flex;
  justify-content: flex-end;
  margin: 0px 28px 40px 0px;
}

.header-guide li a,
.header-guide li button {
  font-size: 13px;
}

.header-guide li:nth-child(1) a {
  margin-right: 10px;
}

.header-guide li:nth-child(2) a {
  margin: 0px 10px;
}

.header-guide button {
  border: none;
  background: none;
  margin-left: 10px;
}

.dropdown-icon {
  margin-left: 10px;
}

.delivery {
  color: var(--deep-grey);
}

.header-menu__category {
  display: inline;
}
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.fa-bars {
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  width: 160px;
  height: auto;
  min-width: 160px;
  padding: 15px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.dropdown-content::after {
  display: flex;
  align-items: flex-start;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cartegory-btn {
  width: 247px;
  display: flex;
  align-items: flex-start;
  padding: 8px 0px 8px 12px;
  gap: 8px;
}

.cartegory-btn img {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.gift {
  font-size: 16px;
  font-family: Pretendard;
  font-weight: 600;
  line-height: 150%;
}

/* 모바일 */
@media (min-width: 320px) and (max-width: 994px) {
  nav {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1);
    justify-content: center;
  }

  .header-logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
    clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
    border: 0;
  }

  .market,
  .beauty,
  .header-guide,
  .header-menu li:nth-child(5) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
    clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
    border: 0;
  }

  .header-menu {
    width: 230px;
    grid-column: 1/2;
    grid-row: 1;
    font-size: 15px;
    display: flex;
  }

  .header-menu li {
    margin-right: 5px;
  }

  .header-menu__category {
    width: 80px;
    margin-right: 15px;
  }
  .header-menu__category span {
    height: 50px;
    margin-left: 5px;
  }

  .header-box {
    display: flex;
    align-items: center;
    grid-column: 2/4;
    grid-row: 1;
  }

  .search-form {
    position: relative;
  }

  .search-form__input {
    padding: 10px 26px;
  }

  .search-form,
  .search-form__input {
    width: 100%;
    height: 3rem;
  }

  .search-form__input {
    border: 1px solid purple;
    border-radius: 5px;
  }

  .search-form__button {
    position: absolute;
    right: 0px;
    bottom: 15px;
    margin-right: 10px;
    font-size: 20px;
    color: purple;
    border: none;
    background: none;
  }

  .header-icon {
    display: flex;
  }

  .header-icon img {
    max-width: 100%;
    height: auto;
  }

  .header-icon li {
    display: flex;
    align-items: center;
  }

  .header-icon li:nth-child(1) img {
    width: 55px;
    height: 40px;
  }

  .header-icon li:nth-child(2) img {
    width: 40px;
    height: 26px;
  }

  .header-icon li:nth-child(3) img {
    width: 45px;
    height: 40px;
  }
}

/* 웹 페이지 */
@media (min-width: 995px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .market {
    padding: 0px 5px;
  }

  .beauty {
    position: relative;
    color: var(--deep-grey);
    padding-left: 10px;
  }

  .search-form {
    position: relative;
    margin: 0px 193px 0px 70px;
  }

  .search-form__input {
    padding: 10px 26px;
    width: 350px;
    height: 55px;
    border: 1px solid purple;
    border-radius: 5px;
  }

  .search-form__button {
    position: absolute;
    right: 0px;
    bottom: 15px;
    margin-right: 33px;
    font-size: 20px;
    color: purple;
    border: none;
    background: none;
  }

  .header-icon {
    display: flex;
  }

  .header-icon img {
    max-width: 100%;
    height: auto;
  }

  .header-icon li {
    display: flex;
    align-items: center;
  }

  .header-icon li:nth-child(1) img {
    width: 40px;
    height: 40px;
  }

  .header-icon li:nth-child(2) img {
    width: 27px;
    height: 27px;
  }

  .header-icon li:nth-child(3) img {
    width: 35px;
    height: 40px;
  }

  .header-icon li:nth-child(1) a,
  .header-icon li:nth-child(2) a {
    margin-right: 35px;
  }

  .header-menu__category {
    margin-right: 160px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    padding: 18px 0px;
  }

  .header-menu li:nth-child(1) span,
  .header-menu li:nth-child(2),
  .header-menu li:nth-child(3),
  .header-menu li:nth-child(4),
  .header-menu li:nth-child(5) {
    font-size: 15px;
  }

  .header-menu li:nth-child(6) {
    font-size: 10px;
  }

  .header-menu li:nth-child(1),
  .header-menu li:nth-child(2),
  .header-menu li:nth-child(3) {
    margin-right: 70px;
  }

  .header-menu li:nth-child(4) {
    margin-right: 235px;
  }

  .header-menu li:nth-child(5) {
    padding: 10px;
    border: 1px solid var(--deep-grey);
    border-radius: 30px;
  }
}




h5 {
  padding-top: 80px;
  font-weight:700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

.essential {
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  width: 630px;
  text-align: right;

  
}
.main_page2 {
 display: block;
}

.main_page {
  padding: 0px;
  max-width: 640px;
  margin: 0 auto;
  border-style: solid;
  border-color: #6B6B6B white #333333;
  border-top: solid 2px;
  border-bottom: solid 1px;
  padding: 5px;
}

.IDtag {
  display: flex;
  margin: 40px;
}

.duplication {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
  margin: 0 auto;
  width: 260px;
  height: 44px;
  border-radius: 5px;
  margin: 10px;
  
}

input[type="button"] {
  font-weight: 700;
  margin: 10px;
  color: #5f0080;
  left: 600px;
  width: 140px;
  height: 44px;
  font-size: 14px;
  border : 3px solid #5f0080;
  border-radius: 5px;
  background: white;
  border-collapse : collapse;
}


.pont {
  padding: center;
}



sup {
  color: #F03F40;
  vertical-align: super;
  font-size: smaller;
    font-weight: bold;
}



body {
  margin: 0;
  padding: 20px;
}



label, input {
  display: block;
  margin-bottom: 10px;
}

.bigcheckbox {
  width: 350px;
    padding: 10px 0 10px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 10px;
    vertical-align: top;
  background: #F03F40;
}

.radio {
  display: inline;
}

.yyyymmdd {
  width: 310px;
    padding: 10px 0 10px 0px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    line-height: 10px;
    vertical-align: top;
    text-align : center;
    border-radius: 5px;
}


.side-font {
  position: absolute;
  text-align: left;
  width: 500px;
  text-align: center;
  font-size: 12px;
  margin: 60px 0px;
}




.checkbox-container {
  display: block;
  margin: 10px;
  max-width: 640px;
  margin: 0 auto;
  border-style: solid;
  padding: 20px 20px 20px 0;
  border-bottom: solid 0.1px;
  border-color: white white #e2dfdf;
 
}

.duplica {
padding: 0px;
width: 590px;
margin: 10px;
height: 500px;
}

.agrr {
    padding: 0px 20px;
    font-size: 14px;
    width: 200px;
    height: 24px;
    margin: 10px;
}

.agrr2 {
  width: 550px;
  float: center;
}

.userID {
  width: 110px;
    padding: 20px 0 20px 0px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 10px;
    vertical-align: top;
    text-align: left;
}



.cartegory-btns {
  font-weight: 700;
  margin: 0px;
  color: #5f0080;
  float: right;
  height: 20px;
  text-align: center;
  background: white;

}

.button22 {
  margin: 70px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #5f0080;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}

.small {
  font-size: 8px;
  color: #898989;
  width: 640px;
  padding: 10px;
}



/* --------------------------------------------------- */

:root{
  --color-primary: #5F0080;
  --gray-400: #898989;
}
.accent{
  color : var(--color-primary);
}
*{
  font-family: "pretendard" ,sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type: none;
}
footer{
  /* background: lightblue; */
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem 0 0 0;
  border-top: 1px solid #d5d5d5;
}
/*  */
/* footer__top */
.footer__top{
  /* background: skyblue; */
  display: grid;
  gap: 1rem;
  /* grid-template-rows: repeat(48px, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "one one"
  "two two"
  ;
  width: 1050px;
  margin: auto;
}
/* footer__contact */


.footer__contact dl{
  padding: 0.5rem 0;
  /* background: yellow; */
}

.contact__number{
  /* background: pink; */
  font-size: 2.5rem;
  font-weight: 700;
  display: inline;
}
.contact__hour{
  font-size: 1rem;
  font-weight: 700;
  display: inline;
}
.contact{
  border: 1px solid var(--gray-400);
  display: block;
  width: 132px;
  height: 32px;
  padding: 4px;
  text-align: center;
  float: left;
  margin-right: 1rem;
}
.contact__order div{
  line-height: 1.5;
}

.footer__info ul li{
  margin-right: 0.5rem;
}
.footer__info ul li{
  display: inline;
}
address{
  padding: 1rem 0;
  font-style: normal;
  font-size: 14px;
}
address div{
  /* display: block; */
  line-height: 1.5;
}
.sns a{
  padding: 0.5rem;
}
/* footer__client */
.footer__client{
  /* background: lightsteelblue; */
  grid-area: two;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  font-size: 10px;
  padding-bottom: 2rem;
  border-top: 1px solid #d5d5d5;
  padding-top: 2rem;
}

.footer__client img{
  float: left;
  margin-right: 1rem;
  /* background: green; */
}

/*  */
/* footer__bottom */
.footer__bottom{
  background: #e9e9e9;
  color: var(--gray-400);
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
  font-size: 12px;
}
.footer__bottom small{
  display: block;
}
.footer__bottom small:first-child{
  padding-bottom: 0.5rem;
}