@import url(a11y.css);
@import url(reset.css);
@import url(sr-only.css);
@import url(theme.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "pretendard", sans-serif;
}
button{
  background-color: var(--gray-400);
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}
/* main__banner */
.main__banner{
  position: relative;

}
.banner__img img{
  width: 100%;
}
/* banner__button */
.banner__btn{
  color: white;
  position: absolute;
  top: calc(50% - 1.5rem);
}
.left{
  left: 10%;
}
.right{
  right: 10%;
}

/* main__nav */
.main__nav{
  position: fixed;
  right: 2.5rem;
  background: white;
  padding: 0.5rem;
  border: 1px solid gray;
  z-index: 1;
}
.nav__container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
} 
.nav__title{
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
}
.nav__btn{
  background: transparent;
}

/* main__wrapper */
.main__wrapper{
  width: 1050px;
  margin: auto;
}
.wrapper__title{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  padding: 40px 0;
}
/* warpper__container */
.warpper__container{
  position: relative;
}
.wrapper__btn{
  position: absolute;
  top: calc(50% - 6em);
  right: -16px;
  background: white;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);
}
.wrapper__banner{
  padding: 80px 0;
}

/* container__product */
.container__product{
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
.product__list{

}
.product__list figcaption{
  line-height: 2;
}
.discount{
  color: red;
}
.totalCost{
  font-size: 1.5rem;
  font-weight: 500;
}
.originalCost{
  text-decoration-line: line-through;
  color: var(--gray-400);
}