:root {
  --purple:#5F0080;
  --color-primary: #5F0080;
  --violet: #BD76FF;
  --gray-400: #898989;
  --gray: #898989;
  --grey: #F0F0F0;
  --deep-grey:gray;
  --dark-grey: #6B6B6B;
  --middle-grey: #A6A6A6;
}