:root {
  --orange: #FA622F;
  --violet: #BD76FF;
  --purple:#5F0080;
  --gray: #F0F0F0;
  --gray-100:#E1E1E1;
  --gray-300: #A6A6A6;
  --gray-400: #898989;
  --gray-500: #6B6B6B;
  --deep-gray:gray;
  --content: #333;
  --black: #000;
}